<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excel Data</title>
    <!-- 부트스트랩 CDN 링크 추가 (옵션) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iKDEr8eYmQ5r8+5GHJo+gxHpu+GPP8f6LZ5L62Py59ENuF7BNUXWHj"
        crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>Excel Data</h1>
        <!-- HTML 테이블로 변환된 데이터 출력 -->
        {{ table_html|safe }}
    </div>
</body>
</html>
